body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: cornsilk;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container
  {
    background: rgb(143, 123, 123);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(233, 86, 18);
    width: 300px;
  }
  
  h1{
    text-align: center;
  }
  
  form{
    display: flex;
    margin-bottom: 20px;
  }
  
  input[type="text"]{
    flex: 1;
    padding: 10px;
    border: 0.5 solid rgb(218, 128, 128);
    border-radius: 5px;
  }
  
  button{
    padding: 10px;
    border: none;
    background: lightgray;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 5px;
  }
  
  button:hover{
    background-color: grey;
  }
  
  ul{
    list-style: none;
    padding: 0;
  }
  
  li {
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  li.done {
    text-decoration: line-through;
    color: #aaa;
  }
  
  button.delete {
    background: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button.delete:hover {
    background: red;
  }
  
  button.done {
    background: blue;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  button.done:hover {
    background: rgb(27, 14, 219);
  }